body{
    background-color: aqua;
    color: black;
}

body{
    background-image: url("vamsilogo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}